<div class="testimonial-area testimonial-padding">
  <div class="container">
    <!-- Testimonial contents -->
    <div class="row d-flex justify-content-center">
      <div class="col-xl-8 col-lg-8 col-md-10">
        <div class="h1-testimonial-active dot-style">
          <!-- Single Testimonial -->
          <div class="single-testimonial text-center">
            <!-- Testimonial Content -->
            <div class="testimonial-caption ">
              <!-- founder -->
              <div class="testimonial-founder  ">
                <div class="founder-img mb-30">
                  <img class="img-entity" src="https://cdns-images.dzcdn.net/images/cover/5489c2e7a1e2948c62750898a5e79f49/264x264.jpg"
                       alt="">
                  <span>Boqn Raychev</span>
                  <p>Marketing head</p>
                </div>
              </div>
              <div class="testimonial-top-cap">
                <p>“Bello bellissimo”</p>
              </div>
            </div>
          </div>
          <!-- Single Testimonial -->
          <div class="single-testimonial text-center">
            <!-- Testimonial Content -->
            <div class="testimonial-caption ">
              <!-- founder -->
              <div class="testimonial-founder  ">
                <div class="founder-img mb-30">
                  <img class="img-entity" src="https://i.scdn.co/image/ab6761610000e5eb3d352b74d358d582b51c399a"
                       alt="">
                  <span>Veselin Nikolaev</span>
                  <p>Front-end developer</p>
                </div>
              </div>
              <div class="testimonial-top-cap">
                <p>“Всички са на Сен Тропе/ Други на Малдивите/ В Дубай пък третите, ах, ле-ле-лей,
                  ах, ле-ле-лей”</p>
              </div>
            </div>
          </div>
          <!-- Single Testimonial -->
          <div class="single-testimonial text-center">
            <!-- Testimonial Content -->
            <div class="testimonial-caption ">
              <!-- founder -->
              <div class="testimonial-founder  ">
                <div class="founder-img mb-30">
                  <img class="img-entity" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ491I-a14n4SUNrKiMMAGES69oVX-29bS6EFYEqQQusw&s"
                       alt="">
                  <span>Yavor Lukanov</span>
                  <p>Back-end developer</p>
                </div>
              </div>
              <div class="testimonial-top-cap">
                <p>“Meow meow”</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>