<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Darts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/price_rangs.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<th:block th:replace="~{/fragment/preloader}"></th:block>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <th:block th:replace="~{/fragment/navbar}"></th:block>
    <!-- Header End -->
</header>
<div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-lg-4">
            <div class="container m-4">
                <form th:action="@{/account/register}" th:method="POST" th:object="${account}"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="firstName" class="font-weight-bold form-text">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="First name..."
                               name="firstName"
                               th:errorclass="bg-danger" th:value="*{firstName}">

                        <div class="alert alert-warning alert-dismissible fade show m-1" role="alert"
                             th:if="${#fields.hasErrors('firstName')}">
                            <small class="text-danger" th:errors="*{firstName}"></small>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="font-weight-bold form-text">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last name..." name="lastName"
                               th:errorclass="bg-danger" th:value="*{lastName}">

                        <div class="alert alert-warning alert-dismissible fade show m-1" role="alert"
                             th:if="${#fields.hasErrors('lastName')}">
                            <small class="text-danger" th:errors="*{lastName}"></small>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="font-weight-bold form-text">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email..." name="email"
                               th:errorclass="bg-danger" th:value="*{email}">
                        <div class="alert alert-warning alert-dismissible fade show m-1" role="alert"
                             th:if="${#fields.hasErrors('email')}">
                            <small class="text-danger" th:errors="*{email}"></small>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="font-weight-bold form-text">Location</label>
                        <select class="form-control" id="location" name="location">
                            <option selected="selected" th:value="${account.location.id}"
                                    th:text="${account.location.city + ', ' + account.location.region}">Select location</option>
                            <option th:each="location : ${allLocations}" th:value="${location.id}"
                                    th:text="${location.city + ', ' + location.region}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="font-weight-bold form-text">Phone number</label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone..." name="phone"
                               th:errorclass="bg-danger" th:value="*{phone}">
                        <div class="alert alert-warning alert-dismissible fade show m-1" role="alert"
                             th:if="${#fields.hasErrors('phone')}">
                            <small class="text-danger" th:errors="*{phone}"></small>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="about" class="font-weight-bold form-text">About</label>
                        <input type="text" class="form-control" id="about" placeholder="About..." name="about"
                               th:errorclass="bg-danger" th:value="*{about}">
                        <div class="alert alert-warning alert-dismissible fade show m-1" role="alert"
                             th:if="${#fields.hasErrors('about')}">
                            <small class="text-danger" th:errors="*{about}"></small>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="photo" class="font-weight-bold form-text">Photo</label>
                        <input type="file" class="form-control-file" id="photo" placeholder="Upload photo" name="photo"
                        >
                    </div>
                    <div class="form-group">
                        <label for="cv" class="font-weight-bold form-text">CV</label>
                        <input type="file" class="form-control-file" id="cv" placeholder="Upload CV" name="cv"
                        >
                    </div>
                    <div class="form-group">
                        <label for="skills">Skills</label>
                        <select multiple class="form-control scrollable-select" id="skills"
                                name="skills">
                            <option selected="selected" disabled>Add Skills</option>
                            <option th:each="skill : ${allSkills}" th:value="${skill.id}" th:text="${skill.name}"></option>
                        </select>
                    </div>
                    <hr class="hr-2 bg-white">
                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="btn post-btn">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/price_rangs.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
