<!doctype html>
<html class="no-js" lang="zxx" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Darts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/price_rangs.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<!-- Preloader Start -->
<th:block th:replace="~{/fragment/preloader}"></th:block>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <th:block th:replace="~{/fragment/navbar}"></th:block>
    <!-- Header End -->
</header>
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
             data-background="/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Get your job</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- Job List Area Start -->
    <div class="job-listing-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <!-- Left content -->
                <div class="col-xl-3 col-lg-3 col-md-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="small-section-tittle2 mb-45">
                                <div class="ion">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            width="20px" height="12px">
                                        <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                                              d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z"/>
                                    </svg>
                                </div>
                                <h4>Filter Jobs</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Job Category Listing start -->
                    <div class="job-category-listing mb-50">
                        <!-- single one -->
                        <div class="single-listing">
                            <div class="small-section-tittle2">
                                <h4>Job Category</h4>
                            </div>
                            <!-- Select job items start -->
                            <div class="select-job-items2">
                                <select name="select">
                                    <option value="all">All Category</option>
                                    <option th:each="jobCategory : ${T(com.example.darts.model.enumeration.Category).values()}"
                                            th:value="${jobCategory}"
                                            th:text="${jobCategory.label}"></option>
                                </select>
                            </div>
                            <!--  Select job items End-->
                            <!-- select-Categories start -->
                            <div class="select-Categories pt-80 pb-50">
                                <div class="small-section-tittle2">
                                    <h4>Employment type</h4>
                                </div>
                                <label class="container"
                                       th:each="empType : ${T(com.example.darts.model.enumeration.EmploymentType).values()}"
                                       th:text="${empType.label}">
                                    <input type="checkbox" name="employmentType" th:value="${empType}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <!-- select-Categories End -->
                        </div>
                        <!-- single two -->
                        <div class="single-listing">
                            <div class="small-section-tittle2">
                                <h4>Location</h4>
                            </div>
                            <!-- Select job items start -->
                            <div class="select-job-items2">
                                <select name="select">
                                    <option value="all">Anywhere</option>
                                    <option th:each="locationChoice : ${allLocations}"
                                            th:value="${locationChoice.id}"
                                            th:text="${locationChoice.city + ', ' + locationChoice.region}"></option>
                                </select>
                            </div>
                            <!--  Select job items End-->
                            <!-- select-Categories start -->
                            <div class="select-Categories pt-80 pb-50">
                                <div class="small-section-tittle2">
                                    <h4>Experience level</h4>
                                </div>
                                <label class="container"
                                       th:each="expLevel : ${T(com.example.darts.model.enumeration.ExperienceLevel).values()}"
                                       th:text="${expLevel.label}">
                                    <input type="checkbox" name="experienceLevel" th:value="${expLevel}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <!-- select-Categories End -->
                        </div>
                        <!-- single three -->
                        <div class="single-listing">
                            <!-- select-Categories start -->
                            <div class="select-Categories pb-50">
                                <div class="small-section-tittle2">
                                    <h4>Posted Within</h4>
                                </div>
                                <label class="container" th:each="posted : ${T(com.example.darts.model.enumeration.DatePosted).values()}"
                                th:text="${posted.label}">
                                    <input type="checkbox" name="posted" th:value="${posted}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <!-- select-Categories End -->
                        </div>
                        <div class="single-listing">
                            <!-- Range Slider Start -->
                            <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                                <div class="small-section-tittle2">
                                    <h4>Filter Jobs</h4>
                                </div>
                                <div class="widgets_inner">
                                    <div class="range_item">
                                        <!-- <div id="slider-range"></div> -->
                                        <input type="text" class="js-range-slider" value=""/>
                                        <div class="d-flex align-items-center">
                                            <div class="price_text">
                                                <p>Salary:</p>
                                            </div>
                                            <div class="price_value d-flex justify-content-center">
                                                <input type="text" class="js-input-from" id="amount1" readonly/>
                                                <span>to</span>
                                                <input type="text" class="js-input-to" id="amount2" readonly/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <!-- Range Slider End -->
                        </div>
                        <a th:href="@{/all(keyword=${keyword}, location=${locationId})}" class="btn head-btn2">Filter</a>
                    </div>
                    <!-- Job Category Listing End -->
                </div>
                <!-- Right content -->
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <!-- Featured_job_start -->
                    <section class="featured-job-area">
                        <div class="container">
                            <!-- Count of Job list Start -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="count-job mb-35">
                                        <span th:text="${jobsPage.isEmpty() ? 'No' : jobsPage.getContent().size() + ' Jobs found for ' + keyword}">39, 782 Jobs found</span>
                                        <!-- Select job items start -->
                                        <div class="select-job-items">
                                            <span>Sort by</span>
                                            <select name="select">
                                                <option value="none">None</option>
                                                <option value="posted">Date Posted</option>
                                                <option value="due">Date Due</option>
                                                <option value="salary">Salary</option>
                                                <option value="applicants">Applicants</option>
                                            </select>
                                        </div>
                                        <!--  Select job items End-->
                                    </div>
                                </div>
                            </div>
                            <!-- Count of Job list End -->
                            <!-- single-job-content -->
                            <div th:if="${jobsPage.isEmpty()}">
                                <p>No job applications found.</p>
                            </div>
                            <div class="single-job-items mb-30" th:unless="${jobsPage.isEmpty()}"
                                 th:each="job : ${jobsPage}">
                                <div class="job-items">
                                    <div class="company-img">
                                        <a th:if="${job.getLink() == null}" th:href="@{/jobs/details/{id}(id=${job.id})}">
                                            <img th:src="${job.company.logo == null ? '/img/entity/company_alt.png' : job.company.logo}" alt="">
                                        </a>
                                        <a th:unless="${job.getLink() == null}" th:href="${job.getLink()}">
                                            <img th:src="${job.company.logo == null ? '/img/entity/company_alt.png' : job.company.logo}" alt="">
                                        </a>
                                    </div>
                                    <div class="job-tittle job-tittle2">
                                        <a th:if="${job.getLink() == null}" th:href="@{/jobs/details/{id}(id=${job.id})}">
                                            <h4 th:text="${job.title}"></h4>
                                        </a>
                                        <a th:unless="${job.getLink() == null}" th:href="${job.getLink()}">
                                            <h4 th:text="${job.title}"></h4>
                                        </a>
                                        <ul>
                                            <li th:text="${job.title}">Creative Agency</li>
                                            <li><i class="fas fa-map-marker-alt"
                                                   th:text="${job.location.getRegion() == null ?
                                                   job.location.getCity() + ', ' + job.location.getCountry() :
                                                   job.location.getCity() + ', ' + job.location.getRegion()}"></i>
                                            </li>
                                            <li th:text="${job.salary}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="items-link items-link2 f-right">
                                    <a th:if="${job.getLink() == null}" th:href="@{/jobs/details/{id}(id=${job.id})}"
                                       th:text="${job.employmentType.label}"></a>
                                    <a th:unless="${job.getLink() == null}" th:href="${job.getLink()}"
                                       th:text="${job.employmentType.label}"></a>
                                    <span th:text="${jobApplicationService.calculateTimeAgo(job.posted)}">7 hours ago</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Featured_job_end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Job List Area End -->
    <!--Pagination Start  -->
    <div class="pagination-area pb-115 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li th:classappend="${jobsPage.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                                    <a class="page-link" th:href="@{/jobs/all(page=${jobsPage.number - 1},
                                     size=${jobsPage.size}, keyword=${keyword}, location=${locationId})}">
                                        <span class="ti-angle-left"></span>
                                    </a>
                                </li>
                                <li th:each="pageNum : ${#numbers.sequence(1, jobsPage.totalPages)}"
                                    th:classappend="${pageNum == jobsPage.number + 1} ? 'page-item active' : 'page-item'">
                                    <a class="page-link" th:href="@{/jobs/all(page=${pageNum - 1},
                                     size=${jobsPage.size}, keyword=${keyword}, location=${locationId})}" th:text="${pageNum}">01</a>
                                </li>
                                <li th:classappend="${jobsPage.hasNext()} ? 'page-item' : 'page-item disabled'">
                                    <a class="page-link" th:href="@{/jobs/all(page=${jobsPage.number + 1},
                                     size=${jobsPage.size}, keyword=${keyword}, location=${locationId})}">
                                        <span class="ti-angle-right"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Pagination End  -->

</main>
<footer>
    <!-- Footer Start-->
    <th:block th:replace="~{/fragment/footer}"></th:block>
    <!-- Footer End-->
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Range -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/price_rangs.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
